@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;


.trending-container {
    @include util.flex-container(row,nowrap,flex-start);
    @include util.gap(tabletXl);
    padding: util.gutter(default);

    @media (min-width: 1440px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }
}