@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;


.recommend-container {
    padding: util.gutter(default);
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    @include util.margin(default);
    @include util.gap(xs);
    @media (min-width: 768px) {
        grid-template-columns: repeat(3,auto);
        @include util.gap(mobilemd);
    }

    @media (min-width: 1440px) {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       @include util.gap(desktop)
    }
}