@use "./variables/font.scss" as font;
@use "./variables/colors.scss" as colors;
@use "./variables/utilities.scss" as util;
@import "./reset/reset.scss";

body {
    background-color: colors.colorTheme(app-black) !important;
    color: colors.colorTheme(app-white);
    @include font.font-theme(default);
    overflow-x:hidden;
    .h1, h1 {
        @media (min-width: 1200px) {
            @include font.font-theme(HeadingLarge);
        }
    }

    h3,.h3 {
       font-size: font.font-size(sub);

       @media (min-width: 768px) {
        font-size: font.font-size(xl);
       }
    }

    p {
        @include font.font-theme(BodySmall);
    }

    h1,.h1,h2,.h2,h3,.h3,p, .card-title, .form-label {
        @include util.margin(default);
    }

    .app-container {
        @include util.margin(default);
        padding: util.gutter(default);
        width: 100%;
        max-width:100%;
        @media (min-width: 48rem) {
            padding: 1.44rem 1.56rem;
        }

        @media (min-width: 90rem) {
            padding: 2rem;
        }
    }
}