@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.default {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.HeadingLarge {
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #ffffff;
}

.BodySmall {
  font-size: 0.8125rem;
  opacity: 0.75;
  font-weight: 400;
  color: #ffffff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  box-sizing: border-box;
  line-height: 1;
  width: 100vw;
  height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #10141E !important;
  color: #ffffff;
  font-family: "Outfit", sans-serif;
}
@media (min-width: 1200px) {
  body .h1, body h1 {
    letter-spacing: -0.5px;
  }
}
body h3, body .h3 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  body h3, body .h3 {
    font-size: 2rem;
  }
}
body h1, body .h1, body h2, body .h2, body h3, body .h3, body p, body .card-title, body .form-label {
  margin: 0;
}
body .app-container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 1440px) {
  body .app-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    padding: 0 2rem;
    justify-content: center;
    gap: 2.25rem;
  }
}
body .app-container .login-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
@media (min-width: 1440px) {
  body .app-container .login-row {
    display: grid;
    grid-column: 2;
  }
}
body .app-container .login-row .login-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
@media (min-width: 1440px) {
  body .app-container .login-row .login-col {
    grid-column: 1/span 2;
  }
}
body .app-container .app-row {
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  body .app-container .app-row {
    margin-top: 1.44rem;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  body .app-container .app-row {
    grid-column: 1;
    align-self: flex-start;
    margin-top: 2rem;
  }
}
body .app-container .app-row .nav-col {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  background-color: #161D2F;
  margin: 0;
  max-width: 44.9375rem;
}
@media (min-width: 576px) {
  body .app-container .app-row .nav-col {
    border-radius: 0.625rem;
  }
}
@media (min-width: 1440px) {
  body .app-container .app-row .nav-col {
    width: 6rem;
    min-height: 61rem;
    max-height: 61rem;
    padding: 2rem;
    align-items: flex-start;
  }
}/*# sourceMappingURL=main.css.map */