@use "./variables/font.scss" as font;
@use "./variables/colors.scss" as colors;
@use "./variables/utilities.scss" as util;
@import "./reset/reset.scss";

body {
    background-color: colors.colorTheme(app-black) !important;
    color: colors.colorTheme(app-white);
    @include font.font-theme(default);

    .h1, h1 {
        @media (min-width: 1200px) {
            @include font.font-theme(HeadingLarge);
        }
    }

    p {
        @include font.font-theme(BodySmall);
    }

    h1,.h1,h2,.h2,p,.form-label {
        @include util.margin(default);
    }

    .container-fluid {
        max-width: 90rem;
        max-height: 64rem;
        @include util.flex-container(column,wrap,center,center);
        @include util.margin(default);
        @include util.gap(mobilexl);
        padding: 3rem util.gutter(xs);

        @media (min-width: 768px) {
            padding: util.gutter(xlarge) 0;
            @include util.gap(lg);
        }

        @media (min-width: 1440px) {
            @include util.gap(xl);
        }
    }
}