@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;

.login-container {
    @include util.flex-container(column,wrap,center,center);
    @include util.margin(default);
    @include util.gap(mobilexl);
    padding: util.gutter(default);
    gap: 3.65rem;

    @media (min-width: 48rem) {
        gap: 4rem;
    }

    @media (min-width: 48rem) {
        gap: 5.19rem;
    }

    .movie-icon {
        width: 2rem;
        height: 1.6rem;
    }

    .form-container {
        @include util.flex-container(column,wrap,center,start);
        background-color: colors.colorTheme(app-dark-blue);
        border-radius: 1.25rem;
        padding: 1.5rem;
        gap: 2.5rem;

        @media (min-width: 48rem) {
            padding: 2rem;
            gap: 2.5rem;
        }

        .login-title {
            letter-spacing: -0.03125rem;
            font-size: font.font-size(xl);
        }

        .form {
            @include util.flex-container(column,wrap,flex-start,flex-start);
            @include util.gap(tabletsm);
            position: relative;
            gap: 1.56rem;

            .form-control {
                @include util.input-styles();
            }

            .error-message {
               @include util.error-message();
            }

            .password-message {
                @include util.password-message();
            }
        }

        .login-button {
            @include util.button-style();
        }

        .form-switch {
            display: flex;
            align-self: center;
            width: 100%;
            gap: 9px;
            font-size: 0.9375rem;
            span {
                color: colors.colorTheme(app-red);
                &:hover {
                    color: colors.colorTheme(app-white);
                    cursor: pointer;
                }
            }
        }
    }
}