@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;
.movie-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: util.gutter(default);
    @include util.margin(default);

    @media (min-width: 90rem) {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content,max-content));
        align-items: start;
        justify-items: start;
        gap: 2.25rem;
    }
}
.movies {
    @include util.flex-container(column,wrap,center,center);
    padding: util.gutter(default);
    @include util.margin(default);

    @media(min-width: 90rem) {
        display: grid;
        grid-column: 2;
        padding-bottom: 3rem;
    }
    .movie-row {
        @include util.flex-container(column,wrap,flex-start,flex-start);
        .search-col {
            padding: util.gutter(default);
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (min-width: 768px) {
                margin-top: 4.06rem;
                margin-bottom: 2.19rem;
            }
        }

        .sub-title {
            padding: 1rem;
        }

        .search-results {
            @include util.flex-container(row,wrap,flex-start,center);
            gap: 0.5rem;

            @media (min-width: 48rem) {
                gap: 1.5rem;
            }
        }
    
        .movies-col {
            display: grid;
            grid-template-columns: repeat(2, minmax(min-content,max-content));
            @include util.gap(xs);

            @media(min-width: 768px) {
                grid-template-columns: repeat(3, minmax(min-content,max-content)); 
                gap: 1.5rem;
            }

            @media(min-width: 1440px) {
                grid-template-columns: repeat(4, minmax(min-content,max-content)); 
                gap: 2rem;
            }
        }
    }
}