@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;

.movies {
    @include util.flex-container(column,nowrap,unset,unset);;
    gap: 1rem;
    padding: util.gutter(default);
    @include util.margin(default); 
    @media (min-width: 48rem) {
        gap: 1.56rem;
    }

    @media (min-width: 90rem) {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content,max-content));
        gap: 2.25rem;
    }
    .movies-title {
        padding-left: 1rem;
        @media (min-width: 90rem) {
            padding: 0;
        }
    }

    .movie-page-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content,max-content));
        grid-template-rows: repeat(2,minmax(min-content,max-content));
        gap: 1rem;
        padding-left: 1rem;
        @media (min-width: 48rem) {
            grid-template-columns: repeat(3,minmax(min-content,max-content));
        }

        @media (min-width: 90rem) {
            padding: 0;
            grid-template-columns: repeat(4, minmax(min-content,max-content));
            gap: 2.5rem;
        }

        .movie-bookmark {
            grid-row: 1;
            display: flex;
            flex-direction: column;
            gap: 0.94rem;

            .movie-card-div {
                grid-row: 2;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 0.94rem;

                @media (min-width: 48rem) {
                    grid-template-columns: repeat(3,1fr);
                    gap: 1.88rem;
                }

                @media (min-width: 90rem) {
                    grid-template-columns: repeat(4,1fr);
                    gap: 2.5rem;
                }
            }
        }

        .tv-bookmark {
            grid-row: 2;
            display: flex;
            flex-direction: column;
            gap: 0.94rem;

            .movie-card-div {
                grid-row: 2;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 0.94rem;

                @media (min-width: 48rem) {
                    grid-template-columns: repeat(3,1fr);
                    gap: 1.88rem;
                }

                @media (min-width: 90rem) {
                    grid-template-columns: repeat(4,1fr);
                    gap: 2.5rem;
                }
            }
        }
    }
}