@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;

.home-container {
    @include util.flex-container(column,nowrap,unset,unset);
    padding: util.gutter(default);
    @include util.margin(default);
    gap: 1rem;
    
    @media(min-width: 48rem) {
        gap: 1.56rem;
    }

    @media (min-width: 90rem) {
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content,max-content));
        gap: 2.25rem;
    }

    .trend {
        padding-left: 1rem;
        @media (min-width: 48rem) {
            padding-left: 1.56rem;
        }
        @media (min-width: 90rem) {
            padding: 0;
            grid-column: 2;
            grid-row: 2;
        }
    }

    .recommend {
        padding-left: 1rem;

        @media (min-width: 48rem) {
            padding-left: 1.56rem;
        }

        @media (min-width: 90rem) {
            padding: 0;
        }
    }

    .found {
        padding-left: 1rem;

        @media(min-width: 90rem) {
            padding: 0;
        }
    }

    .search-results {
        @include util.flex-container(row,wrap,flex-start,center);
        gap: 0.5rem;

        @media (min-width: 48rem) {
            gap: 1.5rem;
        }
    }
}