@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;

.home-container {
    padding: util.gutter(default);
    @media (min-width: 768px) {
        @include util.margin(default);
        padding: util.gutter(sm) util.gutter(medium);
    }

    @media (min-width: 1440px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr, auto);
        padding: 0 2rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-row {
        background-color: colors.colorTheme(app-dark-blue);
        @include util.margin(default);

        // @media (min-width: 768px) {
        //     border-radius: 0.625rem;
        // }
        // @media (min-width: 1440px) {
        //     max-width: 6rem;
        //     min-width: 6rem;
        //     max-height: 60rem;
        //     height: 100%;
        //     grid-column: 1;
        //     @include util.flex-container(column,wrap,center,center);
        //     align-self: flex-start;
        //     margin-top: 2rem;
        //     padding: 1.99rem 0 0 0;
        // }

    }

    .home {
        flex-direction: column;
        padding: 0 util.gutter(sm);
        padding-bottom: 3.81rem;
        @media (min-width: 1440px) {
            grid-column: 2;
            align-self: flex-start;
            justify-self: flex-start;
            margin-left: 2.25rem;
        }
        .search-col {
            margin: 1.62rem 0;
            padding: util.gutter(default);
            @include util.flex-container(row,wrap,flex-start,center);
            @include util.gap(xs);
            @media (min-width: 768px) {
                padding: util.gutter(tablet) util.gutter(default);
            }

            @media (min-width: 1440px) {
                padding: 4rem 0 2rem 0;
            }
        }

        .trending-col {
            @include util.flex-container(column,nowrap,flex-start,flex-start);
            padding: util.gutter(default);
            margin-bottom: 1.5rem;
            .sub-title {
                margin-bottom: 1rem;
            } 
            // @media (min-width: 768px) {
            //     @include util.gap(tabletsm);
            //     padding: util.gutter(default);
            // }
        }

        .recommend-col {
            padding: util.gutter(default);
            .sub-title {
                margin-bottom: 1.5rem;
            }
            @media (min-width: 768px) {
                padding: util.gutter(default);
                @include util.gap(sm);
                align-items:flex-start;
                margin-top: 2.44rem;
                align-self: flex-start;
                max-width: 768px;
            }

            @media (min-width: 1440px) {
                margin-top: 2.5rem;
                max-width: 1440px;
            }
        }
    }
}