@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;


.search-container {
    @include util.flex-container(row,wrap,flex-start,center);
    position: relative;
    padding-left: 1rem;
    padding-right: 0;
    gap: 1rem;
    @include util.margin(default);

    @media (min-width: 48rem) {
        padding-left: 1.56rem;
    }
    @media (min-width: 90rem) {
        margin-top: 1rem;
        padding: 0;
        gap: 1.5rem;
    }
}

.search-btn {
    display: inline-block;
    background-color: colors.colorTheme(app-black);
    border:none;

    .search-img {
        max-width: 1.5rem;
        max-height: 1.5rem;
        
        @media (min-width: 768px) {
            max-width: 2rem;
            max-height: 2rem;
        }
    }
}
    .search-bar {
        display: inline-block;
        position: relative;
        background-color: colors.colorTheme(app-black);
        text-align: start;
        border:none;
        min-width: 18.375rem;
        max-width: 13.375rem;
        padding: 1rem;
        color: colors.colorTheme(app-white);
        caret-color: colors.colorTheme(app-red);
        transition: unset;
        color: white;
        @media (min-width:48rem) {
            min-width: 24rem;
        }

        &::placeholder {
            font-size: 1rem;
            color: colors.colorTheme(app-white);
            opacity: 0.4979;
            width: 100%;
            caret-color: colors.colorTheme(app-red);

            @media (min-width: 768px) {
                font-size: font.font-size(lg);
            }
        }

        &:focus {
            border: none;
            color: colors.colorTheme(app-white);
            background-color: colors.colorTheme(app-black);
            transition: unset;
        }
    }

    .search-form {
        position: relative;

        .error-message {
            color: colors.colorTheme(app-red);
            position: absolute;
            top: 4.82rem;
            right: 0;
        }
    
        .spinner {
            color: colors.colorTheme(app-red);
            position: absolute;
            top: 0.625rem;
            right: 0.5rem;
        }
    }