@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;

.nav-container {
    @include util.flex-container(row,wrap,space-between,center);

    @media (min-width: 1440px) {
        height: 100%;
        @include util.flex-container(column,center,center);
    } 
    .brand {
        @include util.margin(default);
        padding: util.gutter(default);

        @media (min-width: 768px) {
            width: 2rem;
            height: 1.6rem;
        }
    }

    .nav-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        @include util.gap(xs);
        align-self: center;

        @media (min-width: 1440px) {
            display: flex;
            flex-direction: column;
            padding-top: 5.75rem;
        }

        .nav-link {
            padding: util.gutter(default);
            @media (min-width: 1440px) {
                padding-bottom: 1.25rem;
            }
            
        }

        .icon {
            min-width: 1rem;
            min-height: 1rem;

            @media (min-width: 768px) {
                min-width: 1.5rem;
                min-height: 1.5rem;
            }
        }
    }

    .avatar {
        max-width: 1.5rem;
        max-height: 1.5rem;
        align-self: center;

        @media(min-width: 1440px) {
            margin-top: auto;
        }
        
    }
}