@use '../variables/colors.scss' as colors;
@use '../variables/utilities.scss' as util;
@use '../variables/font.scss' as font;

.nav-container {
    justify-content: space-between;
    padding: 1rem;
    background-color: colors.colorTheme(app-dark-blue);

    @media (min-width: 768px) {
        padding: 1.5rem;
        border-radius: 0.625rem;
        margin-top: 1.44rem;
    }
    @media (min-width: 1440px) {
        grid-column: 1;
        grid-row: 1/12;
        @include util.flex-container(column,wrap,center,center);
        padding: 2rem;
        max-width: 6rem;
        min-height: 60rem;
        margin-top: 2rem;
    } 
    .brand {
        @include util.margin(default);
        padding: util.gutter(default);
        @media (min-width: 768px) {
            width: 2rem;
            height: 1.6rem;
        }
    }

    .nav-icons {
        @include util.gap(xs);
        @media (min-width: 768px) {
            gap: 1.5rem;
        }

        @media (min-width: 1440px) {
            display: flex;
            flex-direction: column;
            padding-top: 5.75rem;
        }

        .nav-link {
            padding: util.gutter(default);
            @media (min-width: 1440px) {
                padding-bottom: 1.25rem;
            }
            
        }

        .icon {
            @media (min-width: 768px) {
                min-width: 1.5rem;
                min-height: 1.5rem;
            }
        }
    }

    .avatar {
        max-width: 1.5rem;
        max-height: 1.5rem;

        @media (min-width: 768px) {
            max-width: 2rem;
            max-height: 2rem;
        }

        @media(min-width: 1440px) {
            margin-top: auto;
            align-self: flex-end;
        }
        
    }
}