@use './colors.scss' as colors;

// gutter padding for bootstrap

$grid-gutter-widths: (
    default: 0,
    mobile: 0.5rem,
    xs: 1rem,
    xsmobile: 1.62rem,
    sm: 1.44rem,
    md: 1.5rem,
    medium: 1.56rem,
    lg: 2rem,
    tablet: 2.12rem,
    xl: 2.25rem,
    xlarge: 3.5rem,
    xxl: 4.06rem,
    xxlarge: 5rem,
);

@function gutter($breakpoint) {
    @return map-get($grid-gutter-widths, $breakpoint);
}

// flex containers

@mixin flex-container (
    $direction: column,
    $wrap: wrap,
    $justify:center,
    $align:center,

    ) {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}

// gaps
$gap-sizes: (
    default: 0,
    mobilexs: 0.5rem,
    xs: 1rem,
    sm: 1.12rem,
    mobilemd: 1.5rem,
    mobilesm: 1.62rem,
    mobilelg: 2.56rem,
    tabletxs: 1.44rem,
    tabletsm: 1.56rem,
    tabletmd: 1.81rem,
    desktop: 2rem,
    tabletlg: 2.44rem,
    tabletXl: 2.5rem,
    desktopSm: 2.19rem,
    md: 2.5rem,
    mobilexl: 3rem,
    lg: 4rem,
    xl: 5rem,
    desktopLg: 5.19rem,
);

@mixin gap($size: sm) {
  gap: map-get($gap-sizes, $size);
}

// text alignments

@mixin text-align($alignment:center) {
    text-align: $alignment;
}

// margin sizes

$margin-sizes: (
    default: 0,
    xs: 0.5rem,
    sm: 1rem,
    md: 1.5rem,
    lg: 2rem,
    xl: 2.5rem,
    xxl: 3rem,
);

@mixin margin($size: sm, $sides: all) {  // Add $sides parameter with default 'all'
    @if $sides == all {
      margin: map-get($margin-sizes, $size);
    } @else if $sides == 'x' {
      margin-left: map-get($margin-sizes, $size);
      margin-right: map-get($margin-sizes, $size);
    } @else if $sides == 'y' {
      margin-top: map-get($margin-sizes, $size);
      margin-bottom: map-get($margin-sizes, $size);
    } @else {
      @each $side in $sides {
        @if $side == top {
          margin-top: map-get($margin-sizes, $size);
        } @else if $side == right {
          margin-right: map-get($margin-sizes, $size);
        } @else if $side == bottom {
          margin-bottom: map-get($margin-sizes, $size);
        } @else if $side == left {
          margin-left: map-get($margin-sizes, $size);
        } @else {
          @warn "Invalid margin side: #{$side}";
        }
      }
    }
  }

// button styles

@mixin button-style(
    $padding: 0.797rem 4.25978rem,
    $backgroundColor: colors.colorTheme(app-red),
    $color: colors.colorTheme(app-white),
    $border-radius: 0.375rem,
    $hover-color: colors.colorTheme(app-white),
    $border: none,
    $cursor: pointer,
){
    padding: $padding;
    background-color: $backgroundColor;
    color: $color;
    border: $border;
    border-radius: $border-radius;
    cursor: $cursor;
    font-size: 0.9375rem;

    @media (min-width:768px) {
      padding: 1rem 6.0411rem;
    }

    &:hover {
        background-color: $color;
        color: colors.colorTheme(app-black);
    }
}

@mixin bookmark-style(
    $backgroundColor: colors.colorTheme(app-dark-blue),
    $border: none,
    $borderRadius: 50%,
){
    background-color: $backgroundColor;
    border: $border;
    border-radius: $borderRadius;

    &:hover {
        background-color: colors.colorTheme(app-white);
    }

    &:active {
        background-color: $backgroundColor;
    }
}

@mixin input-styles(
    $font-size: 0.9375rem,
    $color: colors.colorTheme(app-white),
    $backgroundColor: colors.colorTheme(app-dark-blue),
    $border: none,
    $padding: 0,
) {
    font-size: $font-size;
    color: $color;
    background-color: $backgroundColor;
    border: $border;
    caret-color: colors.colorTheme(app-red);
    padding: 0;
    cursor: pointer;
    &::placeholder {
      font-size: 0.9375rem;
      color: $color;
      opacity: 0.5;
      line-height: 1;
    }

    &:active {
        caret-color: colors.colorTheme(app-red);
    }
}

@mixin error-message (
  $color: colors.colorTheme(app-red),
  $position: absolute,
) {
  color: $color;
  position: $position;
  top: 0.77rem;
  right: 0.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

@mixin password-message (
  $color: colors.colorTheme(app-red),
  $position: absolute,
) {
  color: $color;
  position: $position;
  top: 4.77rem;
  right: 0.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

@mixin confirm-message (
  $color: colors.colorTheme(app-red),
  $position: absolute,
) {
  color: $color;
  position: $position;
  top: 20.77rem;
  right: 0.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
}